$class: text

.#{$class}

._h1
	font-weight: bold
	font-size: 42px
	color: #e0e1dd
	margin-top: 4rem
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 2px 2px 4px rgba(255, 255, 255, 0.3)


//._h2
	//._h3
._description
	color: #778da9
	font-size: 18px

._border
	border: 1px solid rgba(45, 44, 44, 0.3)
	padding: 1rem
	border-radius: 2rem